html{
    font-family: 'Roboto';
    text-transform: capitalize;
}
img {
    max-width: 100%;
}
/* navigacia */
nav {
    padding: 10px !important;
}
.navbtn1{
    background-color: #5033fe;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 15px;
    text-transform: capitalize;
}
.navbtn2 {
    background-color: inherit;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e3e3e3;
    text-transform: capitalize;
}
.list li a {
    color: black !important;
    margin-left: 15px;
}
/* navigacia */
/* header */
header {
    background-image: url(../img/hi-tech-concepts-on-blue-background-hero-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.header-text {
    max-width: 500px;
    color: white;
    padding-top: 40px;
}
.header-text h1 {
    font-size: 40px;
    line-height: 60px;
}
.header-text small {
    display: block;
    line-height: 60px;
}
.register {
    background-color: #5033fe;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
}
/* header */
/* transactions */
.transactions {
    margin-top: -80px;
    border-bottom: 1px solid #e3e3e3;
}
.transactions h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.transactions h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}
.tr-col {
    background-color: white;
    border: 1px solid #e3e3e3;
    padding: 15px;
    transition: all 0.2s;
    border-top: 4px solid transparent;
}
.tr-col:hover {
    border: 1px solid #5033fe;
    border-top: 4px solid #5033fe;
}
.banks {
    padding: 20px 0 !important;
}
.banks img {
    height: 70px;
    object-fit: cover;
}
/* paymant */
.paymant-title {
    text-align: center;
    max-width: 700px;
}
.paymant-title h1 {
    font-size: 50px;
    line-height: 70px;
    padding-top: 30px;
}
.paymant-title small {
    font-size: 20px;
    line-height: 70px;
}
.svg {
    background-color: #5033fe;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
}
.mycard {
    padding-top: 30px;
    text-align: left;
    line-height: 30px;
}
.mycard h1 {
    font-size: 50px;
    line-height: 70px;
    padding-top: 20px;
}
.mycard p {
    font-size: 14px;
}
.mycard a {
    color: #5033fe;
}
@media screen and (max-width: 768px) {
    .mycard {
        text-align: center;
        margin: auto;
    }
    .photo {
        display: none;
    }
    .signfree {
        display: block !important;
        text-align: center;
        line-height: 50px;
    }
    .svg-flex {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .footer {
        text-align: center;
        display: block !important;
    }
    .left-section {
        margin-bottom: 20px;
    }
    .menu {
        margin-bottom: 20px;
    }
    
}
.signfree {
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    padding: 30px 0;
}
.signfree h1 {
    color: #505050;
}
.signfree h1 span {
    color: black;
    font-weight: bold;
}
/* our team */
.ourteam {
    padding-top: 30px;
}
.ourteam h1 {
    text-align: center;
    font-size: 50px;
}
.ourteam p {
    margin-top: 20px;
}
.slideshow {
    margin-top: 30px;
    border-radius: 20px;
}
/* pricing */
.pricing {
    background-image: url(../img/hi-tech-concepts-on-blue-background-hero-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.price-title {
    text-align: center;
    margin-top: 50px;
    color: white;
}
.price-title h1 {
    font-size: 50px;
    padding: 30px;
}
.price-title p {
    font-size: 20px;
    padding: 20px;
}
.price-card {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    height: 440px;
    margin-top: 20px;
}
.price-card h1 {
    font-size: 22px;
}
.prc-center p {
    font-size: 70px;
    font-weight: bold;
}
.prc-center small {
    color: #8b8b8c;
}
.price-card a {
    width: 80%;
    background-color: #42c586;
    border: none;
    padding: 20px 0;
    text-transform: uppercase;
}
.individual {
    background-color: #070628;
    color: white;
}
.individual h1 {
    color: #afa7ff;
}
.individual a {
    background-color: #463f93;
}
.price-about {
    margin: 30px 0;
}
.price-about h1 {
    color: white;
}
.price-about p {
    color: #c3c3c3;
}
.svg1 {
    margin-right: 15px;
    padding: 10px;
    background-color: #5033fe;
    border-radius: 50%;
    color: white;
}
/* footer */
footer {
    margin: 30px 0;
}
.left-section ul li {
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
}
.left-section img, p, a, ul {
    padding: 10px 0;
}
.menu ul li {
    margin-top: 10px;
}
.menu span {
    font-weight: bold;
}